* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 20px 0;
  background-image: url(../img/bg_body.png);
  font-family: 'Roboto', sans-serif;
}

#container {
  width: 900px;
  margin: auto;
}

header {
}

#header-top {
  position: relative;
  background-image: url(../img/bg_header.jpg);
  background-size: cover;
  background-position: center;
  border: 10px solid #fff;
  height: 230px;
  color: #fff;
}

#header-top > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

header > nav {
  height: 40px;
  background-color: black;
}

main {
  margin: 12px 0;
}

main > * {
  float: left;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

main > aside.col-1 {
  background-color: #CC87DA;
  height: 400px;
}

main > div.col-2 {
  background-color: #730671;
  width: 40%;
  height: 500px;
  margin: 0 12px;
}

main > aside {
  width: calc(30% - 12px);
}

main > aside.col-3 > div {
  background-color: #CC87DA;
  height: 210px;
  margin-bottom: 12px;
}

footer {
  background-color: #A4D2E1;
  height: 150px
}
